.send {
  padding-top: 100px;

  @media (max-width: $breakpoint992) {
    padding-top: 50px;
  }

  // .send__title

  &__title {}

  // .send__list

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @media (max-width:1300px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .send__item

  &__item {
    display: flex;
    gap: 24px;
    padding: 30px 35px;
    background: linear-gradient(90deg, rgba(30, 32, 35, 0.7) 0%, rgba(16, 12, 16, 0.7) 50.52%, rgba(30, 31, 38, 0.7) 100%), linear-gradient(180deg, #1E2023 0%, #0E0B22 100%);
    border-radius: 15px;

    @media (max-width: $breakpoint768) {
      padding: 15px;
      flex-direction: column;
      align-items: center;
    }
  }

  // .send__qr

  &__qr {
    width: 142px;
    min-width: 142px;
    height: 142px;

    img {
      width: 100%;
      height: 100%;
    }

    // @media (max-width: $breakpoint768) {
    //   width: 100px;
    //   min-width: 100px;
    //   height: 100px;
    // }
  }

  // .send__info

  &__info {}

  // .send__info-title

  &__info-title {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 133.6%;
    color: rgba(255, 255, 255, 0.8);

    @media (max-width: $breakpoint768) {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  // .send__code

  &__code {
    margin-bottom: 15px;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);

    @media (max-width: $breakpoint768) {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 16px;
    }

    @media (max-width: $breakpoint480) {
      font-size: 11px;
    }
  }

  // .send__info-footer

  &__info-footer {
    display: flex;
    align-items: center;
    gap: 26px;

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }
  }

  // .send__info-btn

  &__info-btn {
    position: relative;
    padding: 8px 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    transition: background-color 0.2s linear;

    &:hover {
      background-color: rgba(255, 255, 255, 0.668);
    }

    @media (max-width: $breakpoint768) {
      width: 100%;
    }
  }

  // .send__waiting

  &__waiting {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
  }
}

.send__info-btn:before {
  content: "";
  width: 16px;
  height: 16px;
  bottom: -20px;
  left: 82px;
  clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
}

.send__info-btn:after {
  content: attr(tooltip);
  width: 140px;
  bottom: -48px;
  left: 20px;
  padding: 5px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.send__info-btn:before,
.send__info-btn:after {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  box-sizing: border-box;
  background-color: #000000;
  color: #ffffff;
  transform: translateY(-10px);
  transition: all 300ms ease;
}

.send__info-btn:hover:before,
.send__info-btn:hover:after {
  opacity: 1;
  transform: translateY(0);
}